// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

// undohtml.css
// (CC) 2004 Tantek Celik. Some Rights Reserved.
//   http://creativecommons.org/licenses/by/2.0
// This style sheet is licensed under a Creative Commons License.

// Purpose: undo some of the default styling of common (X)HTML browsers

// link underlines tend to make hypertext less readable,
// because underlines obscure the shapes of the lower halves of words
a:link, a:visited
    text-decoration: none

// avoid browser default inconsistent heading font-sizes
// and pre/code too 
h1,h2,h3,h4,h5,h6,pre,code
    font-size: 1em
