
.wrapper
    padding: 10px
    margin: 0 auto
    @media (max-width: 500px)
        margin: 0
        padding: 10px 5px
    p
        margin-bottom: 1em
    h2
        font-size: 2em
        margin-bottom: 1.1em
        font-family: 'Fraunces', serif
        font-weight: 600
    button
        background: var(--med-highlight)
        color: var(--dark-highlight-overlap)
